* {
    margin: 0px;
}

body {
    height: 1600px;
    width: 100%;
    position: absolute;
}

header {
    height: 75px;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    z-index: 1;
    box-shadow: 0px 0.5px 50px black;
}

.letras {
    margin-left: 500px;
    margin-top: 300px;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 20px;
    color: white;
    text-shadow: 2px 1px 10px black;
    position: absolute;
}

.faixa {
    height: 3px;
    width: 350px;
    margin-left: 489px;
    margin-top: 360px;
    background: #32CD32;
    border: #32CD32 solid 1px;
    opacity: 2.0;
}

.body1 {
    position: absolute;
    height: 450px;
    width: 100%;
    background: linear-gradient(150grad, #004418e8 15%, #004b1dda 5%, #0f3b67f0 85.5%, #00264beb 50%, #00294bfa);
}

.banner {
    position: absolute;
    width: 100%;
    height: 450px;
    opacity: 0.20;
    background-image: url(/img/banner-home.jpg);
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header img {
    margin-left: 20px;
    margin-top: 15px;
    width: 50px;
    height: 40px;
}

header ul li {
    display: inline-block;
}

.header1 {
    display: flex;
    margin-top: 10px;
}

.options {
    margin-top: 30px;
}

.options ul li {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 20px;
    margin-left: 100px;
    height: 20px;
}

.options a {
    text-decoration: none;
    color: #7fbc07;
}

.header2 {
    height: 30px;
    width: 100%;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
}

.header2 a {
    text-decoration: none;
}

.header2 ul li {
    margin-left: 30px;
}

.header21 {
    margin-left: 600px;
}

.header21 a {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 15px;
}

.options ul li a:hover {
    opacity: 0.6;
}

.prancheta {
    margin-top: 285px;
    position: absolute;
    width: 300px;
    height: 300px;
    background-image: url(/img/Prancheta\ 1.png);
    background-size: 300px;
}

.prancheta02 {
    margin-top: 285px;
    margin-left: 250px;
    position: absolute;
    width: 300px;
    height: 300px;
    background-image: url(/img/Prancheta\ 2.png);
    background-size: 300px;
}

.prancheta03 {
    margin-top: 285px;
    margin-left: 500px;
    position: absolute;
    width: 300px;
    height: 300px;
    background-image: url(/img/Prancheta\ 3.png);
    background-size: 300px;
}

.prancheta04 {
    margin-top: 285px;
    margin-left: 750px;
    position: absolute;
    width: 300px;
    height: 300px;
    background-image: url(/img/Prancheta\ 4.png);
    background-size: 300px;
}

.prancheta05 {
    margin-top: 285px;
    margin-left: 1000px;
    position: absolute;
    width: 300px;
    height: 300px;
    background-image: url(/img/Prancheta\ 5.png);
    background-size: 300px;
}

.body2 a {
    position: absolute;
    margin-top: 135px;
    margin-left: 95px;
    font-size: 20px;
    font-family: 'Hind Siliguri', sans-serif;
    color: white;
    text-shadow: 2px 1px 10px black;
    text-decoration: none;
}

.formulario {
    margin-top: 70px;
    margin-left: 90px;
    display: flex;
    width: 1200px;
    background-color: whitesmoke;
}

.letrascurriculo h1 {
    margin-left: 100px;
    color: #0b396D;
    font-family: 'Russo One', sans-serif;
    background: whitesmoke;
}

fieldset {
    border: 0;
}

body,
input,
select,
textarea,
button {
    font-family: sans-serif;
    font-size: 1em;
}

.grupo:before,
.grupo:after {
    content: " ";
    display: table;
}

.grupo:after {
    clear: both;
}

.campo {
    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 0.2em;
    color: #666;
    display: block;
}

fieldset.grupo .campo {
    float: left;
    margin-right: 1em;
}

.campo input[type="text"],
.campo input[type="email"],
.campo input[type="url"],
.campo input[type="tel"],
.campo select,
.campo textarea {
    padding: 0.2em;
    border: 1px solid #CCC;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: block;
}

.campo select option {
    padding-right: 1em;
}

.campo input:focus,
.campo select:focus,
.campo textarea:focus {
    background: #FFC;
}

.campo label.checkbox {
    color: #000;
    display: inline-block;
    margin-right: 1em;
}

.botao {
    font-size: 1.5em;
    background: #F90;
    border: 0;
    margin-bottom: 1em;
    color: #FFF;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.botao:hover {
    background: #FB0;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: none;
}

.botao,
select,
label.checkbox {
    cursor: pointer;
}

.letrascurriculo {
    display: flex;
    margin-top: 530px;
}

.vagas {
    margin-left: 280px;
    height: 650px;
    width: 500px;
}

.vagas ul li {
    margin-top: 23px;
    font-family: 'Hind Siliguri', sans-serif;
    color: #666;
}

.vagas ul li h1 {
    font-size: 20px;
    color: #0b396D;
    ;
}